@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 75%;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.35rem;
  color: #2e2836;
  line-height: 1.75;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

/* Color */
/* BG Color:  #bdf3d3*/
/* Text Color: #2E2836 */

/* Spacing */
/* 2.3rem for all sections start */
/* column-gap: 3rem */

/* Header Section CSS */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  column-gap: 3rem;
  background-color: #bdf3d3;
}

.logo-container {
  width: 15rem;
}

.logo-image {
  width: 100%;
}

.navbar {
  display: flex;
  padding: 1.5rem;
  column-gap: 3rem;
  row-gap: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
}

.navlink {
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 1.25rem;
  color: inherit;
}

.donate-btn {
  cursor: pointer;
  padding: 0.5rem;
  width: 7.5rem;
  text-align: center;
  border-radius: 0.8rem;
  background-color: #79b975;
}

/* Hero Section */

.section-hero {
  background-color: #bdf3d3;
  padding-top: 3rem;
}

.hero {
  margin: 0 auto;
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 4.5rem;
  column-gap: 5rem;
}

.hero-text {
}

.hero-heading {
  font-size: 3.1rem;
}

.hero-description {
  margin: 2rem 0 4rem;
}

.hero-image {
  width: 100%;
  border-radius: 3rem;
  background-color: rgba(119, 136, 153, 0.158);
}

.hero-btn {
  text-decoration: none;
  padding: 1rem;
  width: 15rem;
  text-align: center;
  border-radius: 1.1rem;
  display: inline-block;
  color: inherit;
  font-weight: 600;
}

.hero-btn-container {
  display: flex;
  column-gap: 3rem;
}

.adopt-btn {
  background-color: #304a2f;
  color: #faf9f6;
  transition: all 0.2s;
}

.learn-btn {
  background-color: #79b975;
  color: inherit;
}

.learn-btn,
.donate-btn {
  transition: all 0.2s;
}

.learn-btn:hover,
.learn-btn:active,
.donate-btn:hover,
.donate-btn:active {
  background-color: #558252;
  color: #faf9f6;
}

.adopt-btn:hover,
.adopt-btn:active {
  background-color: #223421;
  color: #faf9f6;
}

/* Total Adoption Component */

.total-adoptions {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}
.customer-image {
  width: 3rem;
  border-radius: 50%;
  margin-left: -1rem;
  border: solid #bdf3d3 3px;
}

.adoption-message {
  margin-left: 1rem;
  font-weight: 500;
}

/* Section How To */

.section-steps {
  background-color: #d7f8e5;
}

.steps {
  padding: 2rem 4.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.step-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
}

.step-heading {
  font-size: 1.9rem;
}

.step-description {
  margin-top: 1.5rem;
}

.bg-circle {
  background-color: #92e3a9;
  font-size: 4rem;
  font-weight: 500;
  color: inherit;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  border-radius: 50%;
  flex-shrink: 0;
  padding: 1rem;
}

.illustration-img {
  width: 100%;
}

.illustration-container {
  width: 50rem;
}

/* Section Cards - ICONS */

.section-cards {
  background-color: #bdf3d3;
  padding-bottom: 8rem;
}

.cards-heading {
  margin-bottom: 3rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem 4.5rem;
}

.cards-container {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
}

.card-box {
  align-items: center;
  text-align: center;
  width: 30rem;
  background-color: #d7f8e5;
  border-radius: 25px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.icon-img {
  width: 5rem;
}

/* Section Social */

.section-social {
  background-color: #d7f8e5;
}

.social {
  padding: 2rem 4.5rem;
}

.social-heading {
  margin-bottom: 3rem;
}

.social-container {
  display: grid;
  grid-template-columns: 55fr 45fr;
  gap: 3rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.review-box {
  background-color: #bdf3d3;
  border-radius: 25px;
  padding: 2rem;
  display: grid;
  align-content: start;
  gap: 3rem;
}

.review-box > img {
  width: 6rem;
  border-radius: 50%;
}

.review-content {
  font-size: 1.25rem;
}

.author {
  font-weight: 500;
}

/* Gallery */

.gallery {
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.gallery-img-container {
  overflow: hidden;
  border-radius: 25px;
}

.gallery-img-container > img {
  width: 100%;
  display: block;
  border-radius: 25px;
  transition: all 0.4s;
}

.gallery-img-container > img:hover {
  transform: scale(1.1);
}

/* CTA */
.section-cta {
  background-color: #bdf3d3;
  padding: 10rem 15rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 40rem;

  border-radius: 25px;
  background-image: linear-gradient(
    to right bottom,
    rgba(134, 192, 131),
    rgba(97, 148, 94)
  );
  overflow: hidden;
}

.cta-box {
  padding: 5rem;
}

.cta-heading {
  font-size: 3rem;
  color: #182517;
}

.cta-description {
  margin-top: 2rem;
}

.cta-image {
  background-image: linear-gradient(
      to right bottom,
      rgba(134, 192, 131, 0.35),
      rgba(97, 148, 94, 0.35)
    ),
    url(./images/cta-image.jpg);
  background-size: cover;
  background-position: center;
}

/* FORMS */

.cta-form {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.input-field,
.survey-dropdown {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  font-size: inherit;
  color: inherit;
  background: #bcdcba;
}

.submit-btn {
  width: 60%;
  border: none;
  padding: none;
  margin: none;
  font-size: inherit;
  border-radius: 10px;
  background-color: #304a2f;
  color: #faf9f6;
  cursor: pointer;
  transition: all 0.2s;
}

.submit-btn:hover,
.submit-btn:active {
  background-color: #d7f8e5;
  color: #2e2836;
}

/* Section Footer */

.footer,
.copyright {
  background: #223123;
  color: #a1b6a0;
}

h4 {
  color: #c9e3c8;
}

.footer-container {
  padding: 3rem 4.5rem 2rem 4.5rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  justify-items: end;
}

.footer-logo {
  display: block;
  width: 95%;
}

.social-logo {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.social-logo > img {
  display: block;
  width: 11%;
}

.grid-box {
  display: grid;
  gap: 1rem;
}

.company-info {
  justify-self: start;
}

.contact-details p a,
.grid-box p a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* MadeBy */

.github-logo {
  width: 6%;
  display: block;
  margin-top: 3px;
}

.madeby {
  margin-top: 1rem;
}
