@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Realistic Shadows Preset */
:root {
  --shadow-color: 145deg 33% 52%;
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 50% = 8px = 1rem */
  font-size: 50%;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: #2e2836;
  font-size: 2rem;
  font-weight: 400;
}

.section-hero {
  background-color: #bdf3d3;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  column-gap: 4rem;
}

.logo {
  width: 24rem;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;
  flex-wrap: wrap;
  font-weight: 600;
}

/* Navbar Animation*/

.navlinks:link,
.navlinks:visited {
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-bottom: 1.2rem;
  color: #2e2836;
}

.navlinks::before {
  transition: 300ms;
  bottom: 0;
  height: 0.4rem;
  content: '';
  position: absolute;
  background-color: #2e2836;
}

.nav-link-anime::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-anime:hover::before {
  width: 100%;
}

.hero-image {
  width: 80rem;
  background: linear-gradient(
    rgba(151, 194, 169, 0.5),
    rgba(151, 194, 169, 0.5)
  );
  border-radius: 4rem;
}

.hero-content {
  display: flex;
  padding: 7.5rem;
  gap: 10rem;
  justify-content: space-between;
  align-items: center;
}

.hero-primary {
  font-size: 6.2rem;
  line-height: 1.4;
  font-weight: 700;
}

.hero-secondary {
  font-weight: 400;
  line-height: 1.75;
  margin-top: 2rem;
}

.hero-buttons {
  display: flex;
  column-gap: 4rem;
}

.donate-btn:link,
.donate-btn:visited {
  text-decoration: none;
  width: 12rem;
  text-align: center;
  display: inline-block;
  border-radius: 1rem;
  padding: 0.75rem;
  margin-top: -1.2rem;
}

.adopt-btn:link,
.learn-more-btn:link,
.adopt-btn:visited,
.learn-more-btn:visited {
  text-align: center;
  text-decoration: none;
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 4rem;
  display: inline-block;
  width: 24rem;
  font-weight: 600;
  transition: all 0.3s;
}

.adopt-btn:link,
.adopt-btn:visited {
  background-color: #223123;
  color: #ecfcf2;
}

.adopt-btn:active,
.adopt-btn:hover {
  background-color: #304a2f;
  color: #fff;
}

.learn-more-btn:link,
.learn-more-btn:visited,
.donate-btn:link,
.donate-btn:visited {
  background-color: #79b975;
  color: #1b291a;
}

.learn-more-btn:active,
.learn-more-btn:hover,
.donate-btn:active,
.donate-btn:hover {
  background-color: #67b561;
}

.total-adoptions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 6rem;
  margin-left: 1rem;
  max-width: 100rem;
}

.customer-image {
  width: 5rem;
  border-radius: 50%;
  border: solid 0.5rem #bdf3d3;
  margin-left: -1.5rem;
}

.adoption-message {
  font-weight: 600;
  margin-left: 2rem;
  text-align: center;
}

.text-highlighter {
  background-color: #2e2836;
  color: #ecfcf2;
  border-radius: 5rem;
  /* padding: 0.3rem; */
  width: 9rem;
  display: inline-block;
  text-align: center;
}

/* Section - How it works? */

.section-steps {
  background-color: #d7f8e5;
  padding: 7.5rem;
}

.step-heading {
  font-size: 5rem;
}

.bg-circle {
  background-color: #79b975;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.bg-circle-text {
  font-size: 6rem;
  font-weight: 500;
}

.illustration-content {
  /* border: solid 2px rebeccapurple; */
  padding: 3rem;
  height: 25rem;
}

.illustration-image {
  /* border: solid 3px darkcyan; */
  height: 30rem;
}

.illustration-step-one,
.illustration-step-two,
.illustration-step-three {
  display: flex;
  column-gap: 5rem;
  margin-bottom: -5rem;
  align-items: center;
  justify-content: center;
  /* border: solid 2px grey; */
  padding: 5rem;
}

h2 {
  margin-bottom: 3rem;
}

/* Section - 3 */

.section-icons {
  background-color: #bdf3d3;
  padding: 7.5rem;
}

.section-icons-heading {
  font-size: 5rem;
}

.icons-set-wrapper {
  display: flex;
  justify-content: center;
  /* border: solid 3px rebeccapurple; */
  padding: 10rem;
  column-gap: 5rem;
  /* align-items: center; */
  margin-top: 5rem;
}

.icon-container {
  padding: 3rem;
  width: 40rem;
  height: 45rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3.5rem;
  box-shadow: var(--shadow-elevation-high);
  transition: all 0.3s;
}

.icon-container:hover {
  transform: scale(1.05);
}

.icon-image {
  width: 10rem;
}

.icon-set-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.icon-set-paragraph {
  font-size: 2rem;
  text-align: center;
}

/* Testimonials & Gallery */
